

.list-group-item {
	background-color:grey;
	border-color: black;
	color:white;
	
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

.list-group {
	color:white;
	border-color: black;
}